.env
nodemailerTest.js
Node-MVC/node_modules
NodeServers/NodeServer1/node_modules
ExpressServers/ExpressServer1/node_modules
NODE-MVC-ECOM-ADMIN/node_modules
node-social-media-file-sessions/node_modules
node-social-media-file-sessions/.env