.movies{
    width:60em;
    margin:0 auto;
}

.movies .title{
    font-size: 32px;
    text-align: left;
}

.movies .slider{
    display:flex;
    gap:1em;
    width: 60em;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: scroll;
}