<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Meadia App: SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/users/signup" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required autocomplete="off">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required autocomplete="off">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required autocomplete="off">
        <br>
        <button type="submit">Sign Up</button>
        <br>
        Already a user? Login <a href="/login">here</a>
    </form>
</body>
</html>